{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ customer.username }}
    <a href="{% url 'nutrition:customer-delete' pk=customer.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'nutrition:customer-update' pk=customer.id %}" class="btn btn-secondary link-to-page">
      Update customer data
    </a>
  </h1>

  <p><strong>Age:</strong> {{ customer.age }}</p>
  <p><strong>Height:</strong> {{ customer.height }}</p>
  <p><strong>Weight:</strong> {{ customer.weight }}</p>
  <p><strong>Gender:</strong> {{ customer.gender }}</p>
  <p><strong>Activity level:</strong> {{ customer.activity_level }}</p>
  {% if customer.get_bmr %}
    <p>
      <strong>BMR (Harris-Benedict):</strong>
      {{ customer.get_bmr|floatformat:0 }} kcal
    </p>
    <p>
      <strong>Daily norm of calories (TDEE):</strong>
      {{ customer.get_tdee|floatformat:0 }} kcal
    </p>
  {% else %}
    <p class="text-muted">Not enough data to calculate BMR/TDEE.</p>
  {% endif %}

  <div class="ml-3">
    <h4>Meals</h4>

    {% for meal in customer.meals.all %}
      <hr>
      <p><strong>Product:</strong> {{ meal.product.name }}</p>
      <p><strong>Quantity:</strong> {{ meal.quantity }}</p>
      <p><strong>Date:</strong> {{ meal.date|date:"d F Y" }}</p>
      <p>
        <a href="{% url 'nutrition:meal-detail' pk=meal.id %}" class="text-muted">
          <strong>Id: </strong>{{meal.id}}
        </a>
      </p>

    {% empty %}
      <p>No meals!</p>
    {% endfor %}
  </div>
  <div class="mt-4">
  <a href="{% url 'nutrition:meal-create' %}" class="btn btn-success">
    Add meal
  </a>
</div>
{% endblock %}
