{% extends "base.html" %}

{% block content %}
    <h1>Nutrition Tracker Home</h1>
    <p>Everything you need to know about healthy eating</p>
    <h2>Dynamic content</h2>
    <p>The Nutrition tracker has the following record counts:</p>
    <ul>
        <li><strong>Categories:</strong> {{ num_category }}</li>
        <li><strong>Products:</strong> {{ num_products }}</li>
        <li><strong>Customers</strong> {{ num_customers }}</li>
        <li><strong>Meals</strong> {{ num_meals }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>

{% endblock %}