{% extends "base.html" %}

{% block content %}
  <h1>Meal №{{ meal.id }}
    <a href="{% url 'nutrition:meal-delete' pk=meal.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'nutrition:meal-update' pk=meal.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <hr>

  <ul>
    <li><strong>Date:</strong> {{ meal.date|date:"Y-m-d" }}</li>
    <li><strong>Product:</strong> {{ meal.product.name }}</li>
    <li><strong>Quantity:</strong> {{ meal.quantity }} g</li>
  </ul>

  <h2>Nutritional info</h2>
  <ul>
    <li><strong>Calories total:</strong> {{ meal.total_calories }} kcal</li>
    <li><strong>Proteins total:</strong> {{ meal.total_proteins }} g</li>
    <li><strong>Fats total:</strong> {{ meal.total_fats }} g</li>
    <li><strong>Carbs total:</strong> {{ meal.total_carbs }} g</li>
  </ul>

{% endblock %}
